<div class="container">
  <h1 align="center">All Listings</h1>

  <div align="center">
    <%= link_to 'Back', root_path, class: "btn btn-primary" %>
    <%= link_to 'New Listing', new_listing_path, class: "btn btn-primary" %>
    <%= link_to 'New Reservation', new_user_reservation_path(current_user), class: "btn btn-primary" %>
    <%= link_to 'My Reservations', user_reservations_path(current_user), class: "btn btn-primary" %>

  </div>

  <table class="table table-striped">
    <tr>
      <th>Property ID</th>
      <th>Address</th>
      <th>Nightly Rate</th>
      <th>Bedrooms</th>
      <th>Bathrooms</th>
      <th>State</th>
      <th>Available</th>
      <th>View</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>

    <% @listings.each do |listing| %>
      <tr>
        <td><%= listing.id %></td>
        <td><%= listing.address %></td>
        <td><%= number_to_currency listing.nightly_rate %></td>
        <td><%= listing.no_bedrooms %></td>
        <td><%= listing.no_bathrooms %></td>
        <td><%= listing.state %></td>
        <td><%= boolean_to_icon listing.availale %></td>
        <td><%= link_to 'Show', listing_path(listing) %></td>
        <td><%= link_to 'Edit', edit_listing_path(listing) %></td>
        <td><%= link_to 'Delete', listing_path(listing),
           method: :delete,
           data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    </table>
    <%= will_paginate @listings, renderer: BootstrapPagination::Rails %>

</div>
