<div align= "center">
  <hr>

  <p>
    <strong>Address:</strong>
    <%= @listing.address %>
  </p>


  <p>
    <strong>Nighly Rate:</strong>
    <%= "$" + @listing.nightly_rate.to_s %>
  </p>

  <p>
    <strong>Bedrooms:</strong>
    <%= @listing.no_bedrooms %>
  </p>

  <p>
    <strong>Bathrooms:</strong>
    <%= @listing.no_bathrooms %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= @listing.user.email %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @listing.description %>
  </p>

  <p>
    <strong>Amenities:</strong>
    <% @listing.amenities.each do |i| %>
    <%= i.icon %>
    <% end %>

  </p>

  <hr>

  <%= link_to 'Back to Listings', listings_path, class: "btn btn-primary" %>

</div>
