<h2> Reservations </h2>


  <!-- <table class="table table-striped">
    <tr>
      <th>Property ID</th>
      <th>Address </th>
      <th>Check In</th>
      <th>Check Out</th>
      <th> Cancel </th>

      <% @all_reservations.each do |reservation| %>

      <tr>
        <td><%= reservation.listing_id %></td>
        <td><%=  %></td>
        <td><%= reservation.check_in_date %></td>
        <td><%= reservation.check_out_date %></td>
        <td><%= link_to 'Cancel', reservation_path(),
               method: :delete,
               data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    </table> -->
